CREATE DATABASE IF NOT EXISTS wp_[[USER]];
CREATE USER IF NOT EXISTS [[USER]]_www@localhost;
SET PASSWORD FOR [[USER]]_www@localhost= PASSWORD("[[PASSWD]]");
GRANT ALL PRIVILEGES ON wp_[[USER]].* TO [[USER]]_www@localhost IDENTIFIED BY "[[PASSWD]]";
FLUSH PRIVILEGES;
