CREATE DATABASE IF NOT EXISTS [[DB_NAME]];
CREATE USER IF NOT EXISTS [[USER]]@localhost;
SET PASSWORD FOR [[USER]]@localhost= PASSWORD("[[PASSWD]]");
GRANT ALL PRIVILEGES ON [[DB_NAME]].* TO [[USER]]@localhost IDENTIFIED BY "[[PASSWD]]";
FLUSH PRIVILEGES;
